*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  background: url("https://images.saymedia-content.com/.image/t_share/MTkzOTUzODU0MDkyODc5MzY1/particlesjs-examples.gif");
  background-size: cover;
  background-repeat: no-repeat;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}

.to-do {
  background: white;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  width: 550px;
  max-width: 90%;
}
.topHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h2 {
  font-size: 35px;
  font-family: Nova Square;
  color: #6d1aba;
}
img#iconImg {
  height: 50px;
  width: 50px;
}

.userInput {
  padding: 10px;
}

form {
  display: flex;
  align-items: center;
  position: relative;
}

input#enterTask {
  background: lightgray;
  color: black;
  padding: 18px;
  border: none;
  border-radius: 20px;
  width: 100%;
  outline: none;
  font-size: 16px;
}

input#submitBtn {
  border: none;
  outline: none;
  padding: 16px 35px;
  background: #9648fe;
  font-size: 19px;
  color: white;
  cursor: pointer;
  border-radius: 40px;
  position: absolute;
  right: -7px;
}

label.checked {
  text-decoration: line-through;
}

input.checked {
  text-decoration: line-through;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
span {
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

span:hover {
  scale: 1.3;
  color: red;
  rotate: 360deg;
}

div#listCon {
  padding: 15px;
}

.taskContent {
  margin-left: 8px;
  font-family: Mulish;
}

/*.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.task-item-left {
    display: flex;
    align-items: center;
    justify-content: center;
}*/

/********************CUSTOM CHECKBOX********/
